*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #E7E7E7;
    font-family: sans-serif;
}
.container{
    margin:2% auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #fff;
    width:360px;
    border-radius: 10px;
    padding:30px;
    /* gap:10px; */
    position: relative;
}
.close{
    position: absolute;
    top:20px;
    right:30px;
    border:1px solid #E7E7E7;
    border-radius: 50%;
    padding:2px;
    color:gray;
}
h2{
    padding:0 10px 0;
    margin-bottom: 20px;
}
.google{
  outline:none;
  border:2px solid #E5E5E5;
  border-radius: 5px;
  padding:7px;
  background-color:white;
  text-align: center;
  font-weight: bold;;
}
.logo-google{
    margin-bottom:-2px;
    padding:0 2px;

}
hr{
    border:1px solid #E5E5E5; 
    margin:10px 0 20px 0;
    background-color: #E5E5E5; 
}
label{
    font-weight:bold;
    padding:20px 0 ;
}
input{
  margin:10px 0;
  outline:none;
  border:1px solid #E5E5E5;
  border-radius: 5px;
  padding:7px;
  background-color:white;
  width:100%;
  color:#585757;
  font-weight: 500;
  font-size:16px;
}
input:focus{
    color:#585757;
    border:2px solid #0084FF;
}

.boxes{
    position: absolute;
    margin-top:6px;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width:80%;
    gap:10px;
    margin-left:5px;
    
}
.box{
    background-color: #E5E5E5;
    width:95%;
    height:4px;
    border-radius: 5px;
}
.termsBox{
    /* background-color: red; */
    display:flex;
    justify-content: left;
    align-items: center;
    gap:10px;
    padding:20px;
    width:100%;
    gap:10px;
    
}
.terms{
    margin-left:-140px;
    
}
.termsBox span{
    display: block;
    margin-left:-120px;
}
a{
    text-decoration: none;
    color:#1890FF;
    font-weight:bold;
}
.signup{
    color:white;
    outline:none;
    border:none;
    border-radius: 5px;
    background-color: #1890FF;
    padding:8px;
}
.signup:hover,.signup:focus{
    cursor: pointer;
    color:white;
}
.account{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
}
input::placeholder{
    color:#b4afaf;
}

.pwdContainer{
    display: flex;
    position: relative;
}
.eyeIcon{
    position: absolute;
    right:10px;bottom:20px;
    color:#b4afaf;
}