.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 10px;
  width:560px;
}
img{
  width:160px;
  height:160px;
  border-radius: 50%;
}
