@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

 /* body{
  font-family: 'Kumbh Sans', sans-serif;
} */
.cart-outline{
  width:30px;
  height:25px;
}
.img1{
  /* margin-top: -70px; */
  width:380px;
  height:320px;
}
.active{
  border:3px solid hsl(12, 88%, 59%);
  opacity:0.7;
  background: rgba(0, 0, 0, 0.3); /* Black see-through */

}
