.termsBox{
    margin-top:-10px;
}
/* form{
  flex:1 0 auto;
} */
.login{
    color:white;
    outline:none;
    border:none;
    border-radius: 5px;
    background-color: #1890FF;
    padding:8px;
}
.login:hover,.login:focus{
    cursor: pointer;
    color:white;
}
.forgot{
    margin:20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login:disabled{
  cursor:not-allowed;
  background-color:#dae5f0;
}
.error{
  color:red;
  padding:18px 0;
}
.eyeIcon{
  cursor: pointer;
}
